!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content{style: "margin:0px auto; width:400px;"}
        %center
          %h1 Booktree
          %p
            %strong Book development
            with
            %strong Version control
            %br
            = link_to "Features and Source code", "https://github.com/cirosantilli/booktree"
          %p{style: "background-color:red; text-align:center; color:white; font-size:20px; font-weight:bold;"}
            WE ARE ON ALPHA. DATA LOSS, DOWNTIME AND INTERFACE CHANGES ARE POSSIBLE ANYTIME.
        %p
          To get started either:
          %br
          \- sign in with username "demo" and password "12345678"
          %br
          \- sign up and sign in
          %br
          \- browse #{link_to "public projects", public_projects_path}
    %hr
    .container
      .content
        = yield
        %hr
        %center
          %br
          Powered by
          %strong awesome
          software from
          = link_to "GitLab", "https://github.com/gitlabhq/gitlabhq"
          %br
          %strong Not
          affiliated with
          = link_to "GitLab.com", "https://gitlab.com"
